@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

body {
  background: var(--Light-grayish-cyan);
  font-size: 2.4rem;
}

*:hover {
  cursor: pointer;
}

.brand {
  padding-top: 5rem;
  padding-bottom: 3.1rem;
  text-align: center;
}

.section-group {
  padding: 3.2rem 2.5rem 3.2rem;
  background: var(--White);
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.calc-content {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.bill__label,
.tip__label,
.people__label {
  font-size: 1.6rem;
  color: var(--Grayish-cyan);
  display: block;
}

.bill__label {
  margin-bottom: 0.5rem;
}

.tip__label {
  margin-bottom: 1.5rem;
}

.people__label {
  margin-bottom: 0.7rem;
}

.bill-form-control {
  margin-bottom: 3.2rem;
}

.bill__input {
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: left 1.9rem center;
}

.bill__input,
.custom-tip,
.people__input {
  text-align: right;
  color: var(--Very-dark-cyan);
}

.bill__input,
.people__input {
  background: var(--Very-light-grayish-cyan);
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 2.45rem;
  border-radius: 0.5rem;
  padding: 0.65rem 1.7rem;
}

.tip-form-control {
  margin-bottom: 3.1rem;
}

.tip__option {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 1.7rem;
}

.btn {
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 2.4rem;
  font-family: "Space Mono", sans-serif;
  border-radius: 0.5rem;
  display: block;
}

.btn-tip {
  background: var(--Very-dark-cyan);
  color: var(--White);
  text-align: center;
}

.btn-tip:hover {
  background: #9fe8df;
  color: var(--Very-dark-cyan);
}

.selected {
  background: var(--Strong-cyan) !important;
  color: var(--Very-dark-cyan) !important;
}

.custom-tip,
.btn-tip {
  width: 14.6rem;
  max-width: 100%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.custom-tip {
  background: var(--Very-light-grayish-cyan);
  padding-right: 1.6rem;
  text-align: right;
}

.bill__input:focus,
.custom-tip:focus,
.people__input:focus {
  outline: 2px solid #9fe8df;
}

.people-form-control {
  position: relative;
  margin-bottom: 3rem;
}

.people__input {
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: left 1.7rem center;
}

.result-content {
  background: var(--Very-dark-cyan);
  border-radius: 1.5rem;
  padding: 3.6rem 2.2rem 2.3rem;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.total-group {
  margin-bottom: 3rem;
}

.amount__label,
.total__label {
  color: var(--White);
  font-size: 1.6rem;
  letter-spacing: 0.02rem;
}

.amount__result,
.total__result {
  color: var(--Strong-cyan);
  font-size: 3.3rem;
  letter-spacing: -1px;
}

.small {
  display: block;
  font-size: 1.3rem;
  color: var(--Grayish-cyan);
}

.btn-active {
  background: var(--Strong-cyan) !important;
  color: var(--Very-dark-cyan) !important;
}

.label-group {
  display: flex;
  justify-content: space-between;
}

.error .people__input {
  outline: 2px solid #e67f70;
}

.message {
  visibility: hidden;
  color: #e67f70;
}

.btn-reset {
  width: 100%;
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #0d686d;
  color: #065d61;
  text-transform: uppercase;
  font-size: 2rem;
}

.btn-reset:hover {
  background: #9fe8df;
  color: var(--Very-dark-cyan);
}

@media (min-width: 800px) {
  .container {
    padding-bottom: 24rem;
  }

  .brand {
    padding-top: 16.25rem;
    padding-bottom: 8rem;
  }

  .section-group {
    width: 100%;
    max-width: 92rem;
    margin: 0 auto;
    border-radius: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.2rem 3.3rem;
  }

  .calc-content {
    padding: 0.5rem 1.5rem 1rem;
    width: 100%;
    max-width: 41rem;
  }

  .result-content {
    width: 100%;
    max-width: 41.2rem;
    padding: 4rem 3.8rem 3.95rem 4rem;
  }

  /* calc section */

  .bill__label,
  .tip__label,
  .people__label {
    font-size: 1.5rem;
    letter-spacing: 0.06rem;
    margin-bottom: 0;
  }

  .bill-form-control {
    margin-top: 0.88rem;
  }

  .bill__label {
    margin-bottom: 0.75rem;
  }

  .bill__input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.85rem;
    letter-spacing: -0.05rem;
    font-size: 2.45rem;
  }

  .tip__option {
    justify-content: start;
    margin-top: 1.75rem;
  }

  .btn-tip,
  .custom-tip {
    width: 11.5rem;
    font-size: 2.3rem;
    padding-top: 0.65rem;
    padding-bottom: 0.7rem;
  }

  .custom-tip {
    letter-spacing: 0.05rem;
  }

  .people-form-control,
  .bill-form-control,
  .tip-form-control {
    margin-bottom: 0;
  }

  .tip-form-control,
  .people-form-control {
    margin-top: 4.2rem;
  }

  .people__input {
    margin-top: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.55rem;
    padding-right: 1.8rem;
    font-size: 2.42rem;
  }

  /* result section */
  .list {
    margin-bottom: 2.7rem;
  }

  .list:last-of-type {
    margin-bottom: 12.3rem;
  }

  .amount__label,
  .total__label {
    font-size: 1.6rem;
    letter-spacing: 0.1px;
    padding-top: 0.8rem;
  }

  .small {
    font-size: 1.37rem;
    letter-spacing: -0.25px;
  }

  .amount__result,
  .total__result {
    font-size: 4.6rem;
    letter-spacing: 0.5px;
  }

  .btn-reset {
    font-size: 1.95rem;
    font-weight: 700;
    padding-top: 1.15rem;
    padding-bottom: 0.85rem;
    letter-spacing: 0.5px;
  }
}
